#input1 {
  width: 20vw;
}

#input2 {
  width: 20vw;
}
#output {
  width: 200px;
  border: 5px solid orangered;
  padding: 20px;
  margin: 20px;
}

#output2 {
  width: 200px;
  border: 5px solid orangered;
  padding: 20px;
  margin: 20px;
}

#output3 {
  width: 200px;
  border: 5px solid orangered;
  padding: 20px;
  margin: 20px;
}

#output4 {
  width: 200px;
  border: 5px solid orangered;
  padding: 20px;
  margin: 20px;
}